h1 {
    color:#00A36C;
    text-align: center;
  }
  h2 {
    color:#00FFFF;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }